@import "reset.css";

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #f1f1f2;
}
header {
  top: 0%;
  height: 173px;
  width: 100vw;
  position: fixed;
}
#upperbar {
  width: 100%;
  height: 35px;
  background-color: #ffdcb2;
}
#upperbarStyle {
  width: 70%;
  height: 100%;
  margin: 0 auto 0;
}
#linkSort {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-center;
  align-items: center;
  gap: 40px;
  margin-left: 80%;
}
#headerContents {
  background-color: white;
  width: 100%;
  height: 80%;
}
#contentStyle {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto 0;
}
#category {
  display: flex;
  padding-bottom: 30px;
  border-bottom: 1px #f1f1f2 solid;
}
#cateTitle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-right: 2px solid #cecece;
  font-family: Noto Sans KR;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 1px;
  color: #515151;
  padding-right: 20px;
  margin-right: 20px;
}
#cateList {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #515151;
  word-spacing: 10px;
}
#mainSection {
  padding-top: 45px;
}
#mainSectionTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}
#mainSectionTitleLarge {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 2px;
  text-align: center;
  margin-right: 20px;
}
#mainSectionTitleSmall {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #9b9b9b;
}
#cateButton {
  display: flex;
  align-items: center;
  gap: 15px;
  border: 0.5px #8e8e8e solid;
  padding: 8px 8px 8px 8px;
}
#cateButtonText {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
  color: #9b9b9b;
}
.cateMain {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  margin-right: 30px;
  color: #ff891c;
}
.flexRow {
  display: flex;
  align-items: center;
  gap: 70px;
}
.noneDeco {
  text-decoration: none;
}
.fontBig {
  font-family: Noto Sans KR;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  color: #515151;
  padding: 0 20px;
}
.flexRow2 {
  display: flex;
  align-items: center;
}
.searchBar {
  display: flex;
  margin: 20px 0;
  padding: 10px 20px;
  opacity: 40%;
}
.main {
  margin: 180px auto 0;
  top: 180px;
  width: 70%;
  height: 100%;
  background-color: white;
  padding: 40px;
}
#oneLineIntro {
  margin: 10px 0px 10px 0px;
  font-size: 15px;
  color: #9b9b9b;
}
#itemTitle {
  margin: 10px 0px 10px 0px;
  font-size: 20px;
  font-weight: bold;
}
#rowListShow {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px 10px 0px;
<<<<<<< HEAD
  width: 50%;
=======
  gap: 10px;
>>>>>>> aef62755db9db29d02e5077bc8eefe3f3dc1c6f0
}
#popFoodList {
  margin: 0px 0px 20px 0px;
}
