@import "main.css";

#category {
  display: flex;
  padding-bottom: 30px;
  border-bottom: 1px #f1f1f2 solid;
}
#cateTitle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-right: 2px solid #cecece;
  font-family: Noto Sans KR;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 1px;
  color: #515151;
  padding-right: 20px;
  margin-right: 20px;
}
#cateList {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #515151;
  word-spacing: 10px;
}
.cateMain {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  margin-right: 30px;
  color: #ff891c;
}
#mainSection {
  padding-top: 45px;
}
#mainSectionTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}
#mainSectionTitleLarge {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 2px;
  text-align: center;
  margin-right: 20px;
}
#mainSectionTitleSmall {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #9b9b9b;
}
#cateButton {
  display: flex;
  align-items: center;
  gap: 15px;
  border: 0.5px #8e8e8e solid;
  padding: 1px 1px 1px 8px;
}
#cateButtonText {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
  color: #9b9b9b;
}
.foodList {
}
.foodListSort {
  color: red;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 18px;
  font-weight: 500;
}
.showFoodList {
  display: flex;
  margin-top: 20px;
}
.showFoodListInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
}
.showFoodListInfoTitle {
  font-size: 18px;
  font-weight: 500;
  color: #6b6b6b;
}
.showFoodListInfoContent {
  color: #9b9b9b;
  line-height: 20px;
}
.ingredients {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #9b9b9b;
}
